body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e272e;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #2f3640;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #dcdde1;
}

.cell.x::before {
    content: 'X';
    color: #e74c3c;
}

.cell.o::before {
    content: 'O';
    color: #3498db;
}

.message {
    display: none;
}

#restartButton {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #2980b9;
}
